*,
*:before,
*:after {
  box-sizing: border-box;
  /* border:  1px solid black; */
}

html {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/****body styles ****/


body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: futura, sans-serif;
  background-color: rgba(7, 97, 125, 0.2);
  color: #2e383f;
}



h1 {
  color:hsla(200, 100%, 10%, 0.6)
  margin-bottom: 3.5rem;
}
.header__threelogos {
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.header__logo svg {
  fill: hsl(16, 100%, 66%);
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header__logo:nth-child(2) svg {
  animation-duration: 6s;
}

.header__logo:nth-child(3) {
  animation-duration: 3s;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.header__logo {
  width: 3rem;
}

.alert {
  margin-top: 1rem;
}
.innerWrapper {
  max-width: 20rem;
  margin: 5rem auto 0;
}

.input__field {
  padding: 1.3rem 0.5rem;
  border: none;
  background-color: inherit;
  height: 2rem;
  width:45%;
  font-size: 1.1rem;
  font-family:futura;
  border-bottom: 4px solid hsl(16, 100%, 66%);


}


.input__field:focus {
outline: none;

/* box-shadow: 0px 3px 5px hsla(200, 100%, 10%, 0.5) */

}

.input__button {
  font-weight: 700;
  color: hsl(16, 100%, 66%);
  padding: 0.5rem 1.5rem;
  background-color: inherit;
  border: 2px solid hsla(200, 100%, 10%, 0.6);
  margin-left: 2.5rem;
  font-family: futura;
  border-radius: 3px;
  height:2.5rem;

  /* box-shadow: 0px 1px 5px hsla(200, 100%, 10%, 0.5); */



}

.input__button:focus{
  outline:none;
  box-shadow: 0px 3px 5px hsla(200, 100%, 10%, 0.5);

}


.jobs {
  padding: 2rem 0;
}


.jobs section {

  margin-bottom: 1rem;
  padding: 2rem;

  border: 10px solid hsla(200, 100%, 10%, 0.6)
}

.jobs section a {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(16, 100%, 66%);



}

@media screen and (min-width: 426px) {
  .jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .innerWrapper {
    max-width: 35rem;
  }
}
